<nav class="navbar navbar-expand-lg" style="background-color: #d291bc;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">ZofiaSite</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#" id="profile-list-link">Lista użytkowników</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="gallery-link">Galeria</a>
          </li>
          
          
          {% if user.is_authenticated %}
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Wyloguj</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Zaloguj</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Zarejestruj</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home_en' %}">Przejdź do wersji angielskiej</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>